pip==25.0.1
urljoin
scrapy-splash
scrapy-user-agents
scrapy-fake-useragent
scrapy-proxies
scrapy-crawlera
scrapy-rotating-proxies
shub
requests
beautifulsoup4
lxml
pandas
numpy
Scrapy
scrapy-poet
zyte-spider-templates
zyte-common-items
typing-extensions
typing
